* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #e7f0e4;
}

.header {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #1ebea5;
    color: #ffffff;
}

.innerHeader {
    width: 85%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo img {
    height: 70px;
    margin-right: 8px;
}

.logo h1 {
    color: #fafafa;
    font-size: 50px;
    font-weight: 300;
}

.logo span {
    color: #ffffff;
    font-size: 54px;
    font-weight: 900;
}

.navigation {
    font-size: 30px;
}

.navigation li {
    display: inline;
    margin: 20px;
}

.uploaderContainer {
    width: 100%;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploaderBox {
    background-color: white;
    width: 800px;
    height: 100px;
    border: 5px solid #f2f2f2;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clips {
    font-size: 55px;
    color: #898f92;
    margin-left: 10px;
    transform: rotate(-45deg);
    cursor: pointer;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clips:hover {
    background-color: rgba(200, 200, 200, 60%);
}

.send {  
    font-size: 45px;
    color: #fbfbfb;
    background-color: #008a7c;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send:hover {
    background: #1f998c;
    box-shadow: 0 0 4px #1d8e81;
}

.filename {
    color: #a8a8a8;
    margin-left: 10px;
    width: 600px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.uploaderForm {
    display: none;
}

.slidesContainer {
    width: 100%;
}

.slide {
    background-color: white;
    position: relative;
    width: 90%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #18948134;
    border-bottom: none;
    margin-bottom: 10px;
}

.placeholderSlide {
    position: relative;
    width: 90%;
    height: 450px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #18948134;
} 

.listContainer {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list, .searchList{
    font-family: "Roboto", sans-serif;
    color: #505050;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 30px;
    line-height: 30px;
}

.listTitle {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.listElement, .searchListElement{
    margin: 10px;
    font-size: 26px;
}

ol {
    list-style: none;
    counter-reset: my-counter;
}

ol li {
    counter-increment: my-counter;
}

ol li::before {
    content: counter(my-counter) " - ";
    font-weight: bold;
}

.wordSearch {
    box-sizing: content-box;
}

.canvasContainer {
    width: 60%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchSubmit {
    display: none;
}

.searchBox {
    background-color: white;
    width: 90%;
    height: 70px;
    border-radius: 100px;
    border: 5px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchTerm {
    color: #a8a8a8;
    margin-left: 17px;
    font-size: 25px;
    width: 50%;
    border: none;
    font-family: "Roboto", sans-serif;
}

.searchTerm:focus {
    outline: none;
}

.searchSend {  
    font-size: 35px;
    color: #fbfbfb;
    background-color: #008a7c;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchSend:hover {
    background: #1f998c;
    box-shadow: 0 0 4px #1d8e81;
}
/* .slidecontainer 
        .slide
            .canvascontainer
                .canvas 
            .listContainer
                .list
                    .listElement
                .searchList
                    .searchListElement
*/